<%= render partial: "header" %>
<div class="main-contents">
  <%= render partial: "genre" %>
  <div class="form-contents">
    <div class="container">
      <%= form_with(model: @quiz, local: true) do |form| %>
        <h3>Create a quiz</h3>
        <div class="form-group">
          <%= form.label :"exampleFormControlInput1", 'Quiz Title (タイトル)' %>
          <%= form.text_field :name, placeholder: "type quiz title" %>
        </div>
        <div class="form-group">
          <%= form.label :"exampleFormControlSelect1", 'Genre Selection (ジャンル)' %>
          <%= form.collection_select :genre_id, Genre.all, :id, :value, {include_blank: "選択して下さい", selected: "選択して下さい"}, { id: "exampleFormControlSelect1", class: "form-control" }%>
        </div>
        <div class="form-group">
          <%= form.label :"exampleFormControlFile1", 'Quiz Image (画像)' %>
          <%= form.file_field :image, placeholder: "Image File", id: "exampleFormControlFile1", class: "form-control-file" %>
        </div>
        <div class="form-group">
          <%= form.label :"exampleFormControlTextarea1", 'Quiz Text (内容)' %>
          <%= form.text_area :text, placeholder: "type Quiz Text", rows: "5", id: "exampleFormControlTextarea1", class: "form-control" %>
        </div>
        <div class = answer-form>Quiz Answer （回答を入力し、正解を選択してください！）
          <div class="form-check">
            <div class="form-check1">
              <%= form.select :answer_number, [['1', 1], ['2', 2], ['3', 3], ['4', 4]],{ include_blank: true } %>
            </div>
            <div class="choice-contents">
              <%= form.text_field :choice1, placeholder: "type answer 1", class: "answer-column" %>
              <%= form.text_field :choice2, placeholder: "type answer 2", class: "answer-column" %>
              <%= form.text_field :choice3, placeholder: "type answer 3", class: "answer-column" %>
              <%= form.text_field :choice4, placeholder: "type answer 4", class: "answer-column" %>
            </div>
          </div>
        </div>
        <%= form.submit "SEND", class:"submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: "footer" %>