<%= render partial: "header" %>
<div class="main-contents">
  <%= render partial: "genre" %>
  <div class="search-bar">
    <div class="search-title">What will you teach today?
      <%= form_with(url: quizzes_searches_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "Search for Quizzes", class: "search-input" %>
        <div class="search-send">
          <%= form.submit class: "search-btn" %>
          <i class="search-icon fas fa-search"></i>
        </div>
      <% end %>
    </div>
    <%= render partial: "quiz_list" %>
  </div>
</div>
<%= render partial: "footer" %>



