<div class="login-contents">
  <div class="contents-main">
    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :nickname %><span>(8文字以下)</span>
        <div class="nick-name">
          <%= f.text_field :nickname, autofocus: true, maxlength: "8" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :user_image,"ユーザー画像" %>
        <div class="user-image">
          <%= f.file_field :user_image %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email %>
        <div class="email">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
        <div class="password">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
