<%= render partial: "quizzes/header" %>
<div class="main-contents">
  <%= render partial: "quizzes/genre" %>
  <div class="search-bar">
    <div class="profile-contents">
      <div class="profile-top">
        <div class="profile-left">
          <div class="profile-img">
            <%= image_tag current_user.user_image.url, class: "profile-icon-image" %>
          </div>
        </div>
        <div class="profile-middle">
          <div class="profile-name">
            <h5><%= @nickname %></h5>
            <div class="social-icons">
              <span class="icon icon-twitter">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </span>
              <span class="icon icon-fb">
                <i class="fab fa-facebook" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="profile-address">
            <%= @user.email %>
          </div>
        </div>
        <div class="profile-right">
          <div class="edit-profile">
            <div class="edit-profile-btn">
              <%= form_with(url: "#", local: true, method: :get, class: "edit-form") do |form| %>
                <i class="search-icon far fa-edit" aria-hidden="true"></i>
                <%= form.submit "Edit Profile", class: "search-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-bottom">
        <div class="tabs">
          <div class="tab-quizzes is-selected">Quizzes</div>
          <div class="tab-collections">Collection</div>
          <span class="tab-selection"></span>
        </div>
      </div>
      <div class="index-contents">
        <div class="white-view">
          <div class="user-list">
            <h3>投稿一覧</h3>
            <div class="my-quiz">
              <% @quizzes.each do |quiz| %>
                <%= link_to "/quizzes/#{quiz.id}", method: :get do %>
                  <div class="user-quiz">
                    <img src="<%= quiz.image %>" alt="..." width="150" height="150">
                    <div class="card-text">
                      <%= quiz.name.truncate(8) %>
                    </div>
                    <div class="iine-icon">
                      <i class="fas fa-heart heart"></i>
                      <div class="likes-count">
                        <%= quiz.likes_count %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "quizzes/footer" %>