<%= render partial: "quizzes/header" %>
<div class="main-contents">
  <%= render partial: "quizzes/genre" %>

  <div class="search-bar">
    <div class="search-title">What will you teach today?
      <%= form_with(url: quizzes_searches_path, local: true, method: :get, class: "search-form") do |form| %>
        <i class="search-icon fas fa-search"></i>
        <%= form.text_field :keyword, placeholder: "Search for Quizzes", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <%= render partial: "quizzes/quiz_list" %>
  </div>
</div>
<%= render partial: "quizzes/footer" %>
